.wrapper {
  padding: 20px;
  background-color: color-mix(in srgb, var(--lazur) 12%, var(--white));
}

.header {
  display: flex;
  align-items: center;
}

.planIcon {
  width: 25px;
  height: 25px;
}

.planName {
  margin-left: 16px;
  font-size: 12px;
  line-height: 17px;
}