.wrapper {
  padding: 10px 20px 20px 0;
  background-color: var(--white-2);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.mobileBar {
  margin-left: 20px;
  display: block;
}

.navMenu {
  margin-bottom: 40px;
  flex-grow: 1;
}

.menuGroup {
  padding: 18px 0;
  width: 100%;

  position: relative;
}

.menuGroup:first-of-type {
  padding-top: 0;
}

.menuGroup:not(:last-of-type):after {
  content: '';
  width: calc(100% - 40px);
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 20px;

  background-color: var(--grey-2);
}

.menuItem {
  padding: 10px 20px;
  max-height: 40px;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  white-space: nowrap;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.menuItem:hover {
  background-color: color-mix(in srgb, var(--blue-main) 10%, var(--white));
}

.menuItem::before {
  content: '';
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--blue-main);
  transition: max-width 0.3s ease;
}

.menuItem.active {
  background: none;
}

.menuItem.active::before {
  display: block;
}

.menuItem:hover::before {
  content: '';
  max-width: 6px;
  display: block;
}

.menuItem.active:hover::before {
  max-width: 100%;
}

.menuGroup:first-of-type .menuItem:last-child {
  margin-top: 18px;
}

.menuIcon {
  width: 20px;
  height: 20px;
  object-fit: cover;

  position: relative;
}

.menuItem.active .menuIcon {
  filter: invert();
}

.menuText {
  margin-left: 16px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.menuItem.active .menuText {
  position: relative;
  color: var(--white);
}

.subgroup {
  
}

@media screen and (min-width: 540px) {
  .wrapper {
    padding: 10px 0 20px 0;
    width: 260px;
    max-width: 0px;

    position: static;
    transition: all 0.3s ease;
  }

  .mobileBar {
    display: none;
  }

  .wrapper.opened {
    padding: 10px 20px 20px 0;
    max-width: 260px;
  }

  .menuText {
    display: none;
  }

  .opened .menuText {
    display: inline;
  }

  .opened .menuGroup:not(:last-of-type):after {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 539px) {
  .wrapper {
    width: 100%;
    height: calc(100vh - 60px); 
    
    position: fixed;
    top: 60px;
    right: 100%;
    z-index: 100;

    transition: transform 0.3s ease;
  }

  .opened {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 1022px) {
  .wrapper {
    max-width: 60px;
    position: relative;
    z-index: 1;
  }
}